body {
  background: #f0f2f5 !important;
}
.page-container {
  padding: 16px;

  .page-header {
    margin: 16px 0 36px 0 !important;

    .page-title {
      line-height: 0 !important;
    }
  }

  .page-content {
    .form-group {
      margin-bottom: 1rem;
    }
  }
}

#components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.layout-container .layout-background {
  background: #fff;
}
