.ant-layout {
  // min-height: 100vh !important;
  // margin-bottom: 300px;
  padding-bottom: 56px;
}

.ant-layout-header {
  background-color: #fff !important;
}

.ant-page-header {
  padding: 0 14px !important;
}

.ant-menu-item:active,
.ant-menu-submenu-title:active {
  color: white !important;
}

.ant-divider-horizontal {
  margin: 8px 0 24px 0 !important;
}

.ant-layout-footer {
  padding: 0;
}
.ant-list-item-meta-title {
  font-size: 14px !important;
}
